.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 360px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.main-toolbar {
    z-index: 999;
}

.sidebar-options-list {
    padding: 16px 16px 0 16px;
}
