<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="'navigation'"
        [mode]="'over'"
        [opened]="false">
        <mat-toolbar
            color="primary"
            class="sidenav-toolbar">
            Menu
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="setup" routerLinkActive="active-link">Setup Phase</a>
            <a mat-list-item routerLink="assignment" routerLinkActive="active-link">Assignment Phase</a>
            <a mat-list-item routerLink="command" routerLinkActive="active-link">Command Phase</a>
            <a mat-list-item routerLink="refresh" routerLinkActive="active-link">Refresh Phase</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar
            color="primary"
            class="main-toolbar mat-elevation-z6">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>
                Star Wars Rebellion: Solo Variant (<a href="https://boardgamegeek.com/thread/1697801/solitaire-variant-empire-attacks-revised-version-1" target="_blank">by
                Dale Buonocore</a>)
            </span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
