<app-main-nav>
    <nav mat-tab-nav-bar [backgroundColor]="'primary'" [tabPanel]="tabPanel">
        <a
            mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.link"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive">
            <mat-icon
                aria-hidden="false"
                [attr.aria-label]="link.label">
                {{ link.icon }}
            </mat-icon>
            <span fxHide fxShow.gt-sm>{{link.label}}</span>
        </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <div class="container">
            <div class="setup-phase" fxLayout="row" fxLayoutAlign="center">
                <div fxLayout="column" fxLayoutAlign="start center" fxFlex="90" fxFlex.gt-xs="80" fxFlex.gt-sm="70">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-tab-nav-panel>
</app-main-nav>
