<h2>Setup Phase</h2>
<div>
    <p>
        Use the Advanced Set-up from the Rules with the following changes:
    </p>

    <div class="card-container" fxLayout="column" fxLayoutGap="20px">
        <mat-card class="step-card">
            <mat-card-title>Place Starting Leaders</mat-card-title>
            <mat-card-content>
                Gather the four leaders that do not have a recruit icon and places them in the box labeled “Leader Pool”

                The Empire starts with five Leaders. Recruit the 5th by drawing one Action Card (keep drawing until the Empire acquires the additional Leader)
            </mat-card-content>
        </mat-card>

        <mat-card class="step-card">
            <mat-card-title>Prepare Time Track</mat-card-title>
            <mat-card-content>
                Then place the time marker on space “1” of the track and the reputation marker on space “14” of the track
            </mat-card-content>
        </mat-card>

        <mat-card class="step-card">
            <mat-card-title>Prepare Objective Deck</mat-card-title>
            <mat-card-content>
                Sort the objective cards into three piles based on the number shown on the card back (I, II, or III)

                Remove the “Heart of the Empire” (Level II) Objective card

                Draw one card from the objective deck
            </mat-card-content>
        </mat-card>

        <mat-card class="step-card">
            <mat-card-title>Prepare Action Decks</mat-card-title>
            <mat-card-content>
                Gather all action cards that have a recruit icon and shuffle them to create two action decks. Place them facedown next to each faction sheet on
                the side
                labeled "Action Deck."
            </mat-card-content>
        </mat-card>

        <mat-card class="step-card">
            <mat-card-title>Prepare Mission Cards</mat-card-title>
            <mat-card-content>
                Starting Missions: Starting mission cards are identified by a curved arrow at the bottom of the card. For both sides take four starting mission
                cards and
                set them aside.

                Remaining Missions: For both sides take the remaining mission cards and shuffles them to create the mission deck. Place it facedown next to each
                faction
                sheet on the side labeled “Mission Deck.”

                Shuffle one of each of the five different Project cards into the Empire’s Main Missions Deck.
            </mat-card-content>
        </mat-card>

        <mat-card class="step-card">
            <mat-card-title>Place Starting Units and Loyalty</mat-card-title>
            <mat-card-content>
                Loyalty
                Shuffle the probe deck and reveal cards from the top of the deck until three Rebel systems and five Imperial systems have been revealed

                Place a Rebel loyalty marker in each of the three Rebel systems. Place a subjugation marker in the first two Imperial systems drawn and an
                Imperial loyalty
                marker in each of the other three Imperial systems drawn

                Return the five Imperial probe cards to the game box. Then shuffle all other probe cards back into the probe deck

                Empire Deployment
                Deploy the Empire Units as follows (use D6, as needed):

                2 TIE Fighters & 2 Stormtroopers in each of the initial six Systems
                Randomly deploy 3 Star Destroyers in 3 separate Systems (1 each); deploy 3 Assault Carriers in the remaining 3 Systems
                Randomly deploy 1 AT-AT to a System; then deploy 5 AT-STs (1 per System) in the remaining 5 Systems
                Randomly deploy the Death Star
                Rebel Deployment
                The Rebel player receives:

                1 Corellian Corvette
                1 Rebel Transport
                2 X-wings
                2 Y-wings
                6 Rebel Troopers
                2 Airspeeders
                These units can be placed in the “Rebel Base” space of the game board and/or in any one Rebel or neutral system

                Action Cards
                For both sides draw two random starting action cards (i.e., the action cards without a recruit icon on them). These cards provide special,
                once-per-game
                abilities
            </mat-card-content>
        </mat-card>

        <mat-card class="step-card">
            <mat-card-title>Rebel Base</mat-card-title>
            <mat-card-content>
                The Solo Player chooses the Rebel Base’s location from among the 8 Remote Systems, after placing all Starting Units and Loyalty Markers. The
                Empire knows it
                is located in one of these Systems (acquired vital information through its intelligence networks), and will aggressively search for it
            </mat-card-content>
        </mat-card>

        <mat-card class="step-card">
            <mat-card-title>Draw Starting Hand</mat-card-title>
            <mat-card-content>
                Take the four starting missions and draw two cards from the mission deck to create your starting hand
            </mat-card-content>
        </mat-card>
    </div>
</div>
