<h2>Assignment Phase</h2>

<div class="card-container" fxLayout="column" fxLayoutGap="20px">
    <mat-card class="step-card">
        <mat-card-title>Assign Leaders to Missions</mat-card-title>
        <mat-card-content>
            Rebel player assigns leaders to missions
        </mat-card-content>
    </mat-card>

    <mat-card class="step-card">
        <mat-card-title>Create Mission Deck</mat-card-title>
        <mat-card-content>
            Draw a specified number of Missions (see Missions Table, below) shuffle the drawn cards, and place them in a facedown pile, forming the Initial
            Missions Deck

            Mission Table
            Turn 1:
            2 Missions (1 Starting Mission + 1 Main Mission)
            Turns 2-3:
            3 Missions (1 Starting Mission + 2 Main Missions)
            Turn 4+:
            4 Missions (1 Starting Mission + 3 Main Missions)
            Rebel Base Revealed
            3 Missions (1 Starting Mission + 2 Main Missions)
        </mat-card-content>
    </mat-card>

    <mat-card class="step-card">
        <mat-card-title>Play Action Cards</mat-card-title>
        <mat-card-content>
            The Empire plays all Action Cards designated as playable during the Assignment Phase
        </mat-card-content>
    </mat-card>
</div>
