/* You can add global styles to this file, and also import other style files */

@import "_partials/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    color: $baseFontColor;
}

.container {
    margin-bottom: 24px;
    padding-top: 24px;
}
