<h2>Command Phase</h2>

<div class="card-container" fxLayout="column" fxLayoutGap="20px">
    <mat-card class="step-card">
        <mat-card-title>Play Missions</mat-card-title>
        <mat-card-content>
            <p>
                Starting with the Rebel player, alternate taking turns
            </p>
            <div>
                Play Missions / Activate Systems
                Rebel player can reveal missions or active systems

                Establishing a New Base
                The Rebels may establish a new Base similar to the normal procedure. First, return all Probe cards of uncontrolled (no Imperial Ground Units
                there)
                Remote Systems from the Empire’s stack to the Probe deck, and shuffle it. Second, the Rebels draw the usual number of cards up to a maximum of
                the
                difference between the Turn and Reputation Markers, and establish a new Base in any Remote System drawn. Third, the Empire returns to searching
                for
                the Rebel Base as it did prior to revealing the base. Finally, place the Gather Intel card back into the Starting Missions Deck

                Opposing Rebel Missions
                Only if there are more Imperial Leaders than unrevealed Initial Mission cards, the Empire may issue an order (on a D6 result of 4+) to send
                their
                “best” qualified Leader to oppose a Rebel Mission. If no Leader has matching Skill icons, the Leader with the fewest total number of Skill icons
                becomes eligible

                Join a Battle
                Only if there are more Imperial Leaders than unrevealed Initial Mission cards, the Empire will send an eligible Leader to join the battle with
                either no Leader or one possessing no Tactics Value(s). Prioritize eligible Leaders with a “Start of Combat” Action card and either the highest
                combined Tactics Values (if both Theaters) or the highest Tactic Value (in the appropriate Theater)
            </div>

            <div>
                Play Initial Missions
                The Empire always complete Initial Missions first before Activating Systems for movement

                Undertaking Initial Missions: Flip over the top Mission from the deck and assign the “best” qualified Leader (pictured Leader or the Leader
                possessing the most matching Skill icons)

                If a Mission proves unplayable (no appropriate Leader or for any reason), select a new Mission from the appropriate Deck and place all
                unfulfilled Mission cards at the bottom of their respective Decks

                Select Mission locations based on either the Empire’s Card Decision Making List or the System with the Highest Production Value.

                Capturing Leaders
                A captured Rebel Leader is considered a Ground Unit, and held captive by the strongest Imperial Space Unit currently in the System where he/she
                is located

                Acquiring Project Cards
                Any Projects acquired during the game are placed face-down (without looking at them) beside the Main Missions Deck, and are placed on top of the
                deck after it is reshuffled at the end of the Command Phase
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="step-card">
        <mat-card-title>Activate Systems</mat-card-title>
        <mat-card-content>
            The Empire may, having undertaken all initial Missions, use Leaders to Activate Systems (Move Units) to the nearest PRB(s) or Revealed Rebel
            Base

            Movement Rules
            Move the Empire’s Units by the shortest possible route toward the nearest unexplored (Probe Card not yet obtained) Remote System (also known as
            the Possible Rebel Base [PRB]) and will attack any rebel ships in their way.

            When moving into a System, the Empire will move all Units from adjacent Systems into the Activated System, bringing along as many Ground Units
            as they can transport, prioritizing Space Units with the highest Strength values.

            IMPORTANT: The Empire must leave a single weakest Ground Unit behind to make a valid move. If the fleet has been selected (because they are
            closest) but cannot leave a Ground Unit behind, place a Leader into the System, along with a Stormtrooper from supply. The fleet will then be
            able to move on a later turn.

            After a successful move - with Ground Units - to a Remote System, immediately obtain that system's Probe Card (reshuffle deck). If the Empire
            ever loses its last Ground Unit stationed on a Remote System (e.g. due to a Combat loss), return the Probe Card to the Probe Deck and reshuffle.

            When the difference between the Turn and Reputation Markers is ≤ 5, Imperial fleets may move (once/turn) even if there’s a Leader in the
            starting System. The Empire will change its movement behavior once the Rebel Base is revealed (See Revealing the Rebel Base below)

            Revealing the Rebel Base
            Reveal The Rebel Base only after the Empire has obtained Probe Cards for the other 7 Remote Systems OR when the Empire has any Ground Units in
            that System.

            Once revealed, remove the Gather Intel Starting Mission from the pile (it may return to play if the Rebels establish a new base).

            Note that when the Rebel Base is revealed and/or when the difference between the Turn and Reputation Markers is ≤ 5, Imperial fleets may move
            (once/turn) even if there’s a Leader in the starting System (track this by, e.g., laying down the Leader activating the System initiating the
            movement).

            Also, the Empire now prioritizes eligible Systems closest to the Rebel Base for both the purposes of fleet movement and deployment of forces.
            When the Empire chooses to activate a System, calculate the difference between the Turn and Reputation Markers. If all fleets within this range
            have been moved, shift priority to other fleets which will target the nearest uncontrolled (possessing no Imperial Ground Units) Remote Systems.
            When the Empire reveals the Rebel Base, the Empire draws 3 cards (1 Starting Mission and 2 Main Missions) during the Assignment Phase

            Battles
            While Battles will play out normally, the Empire will not draw/use any Tactics cards. Additionally, follow these special rules:

            Any Special Icons rolled are considered “hits” vs. Rebel Units
            You MUST reroll up to the number of “hits” equal to the Theater-specific Tactics Value of the Empire’s Leader (starting with the “Direct Hit”
            followed by regular/single hits) until they’re all used; balance may carry-over to later rounds.
            For example: Empire's Leader has a tactics value of 2. You MUST ignore your first two hits and re-roll those dice. If you roll no hits, the two
            re-rolls will carry-over to the next attack
            The Empire will assign hits vs. Rebel Units with the following priority: Ion Cannon, Weakest Units (Remaining Health); and Greatest Firepower
            (i.e. number of attack dice rolled) [Note: Use Golden Rule to break ties]
            THE DEATH STAR: The Empire will ONLY target the Rebel Base, a PRB, or a System with Rebel Loyalty and/or any Rebel Ground Units
        </mat-card-content>
    </mat-card>

    <mat-card class="step-card">
        <mat-card-title>Unused Leaders</mat-card-title>
        <mat-card-content>
            In the unlikely event that their remain any unused leaders, draw and undertake a Mission/Leader from the Main Missions Deck
        </mat-card-content>
    </mat-card>

    <mat-card class="step-card">
        <mat-card-title>Maintenance</mat-card-title>
        <mat-card-content>
            At the end of the Command Phase, shuffle both Mission Decks separately and place any Project Cards acquired on top of the Main Mission Deck
        </mat-card-content>
    </mat-card>
</div>
